*{
    box-sizing:  border-box;
}
h3,h2{text-align: center}

body{
color: white;
    background: #2f2e2e;
}

 table {
     font-family: Arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;

}
th{
    color:  black;
}

th {
    background-color: #f2f2f2;
}
